/******************************************************************************/
/* Selectors for general elements start here.
/******************************************************************************/

:root {
  --color-text-1: #000000;
  --color-text-1-inverted: #ffffff;
  --color-brand-1: #5fbf00;
  --color-brand-2: #bc3b00;
  --color-neutral-1: #dfdfdf;
  --color-neutral-2: #cccccc;
  --color-neutral-3: #969696;
}

body {
  color: var(--color-text-1);
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

/******************************************************************************/
/* Selectors for the main section start here.
/******************************************************************************/

main {
  width: clamp(300px, 450px, 650px);
  height: 100%;
  padding: 32px;
  overflow-y: auto;
}

/******************************************************************************/
/* Selectors for the form start here.
/******************************************************************************/

form {
  width: 100%;
  min-height: 100%;
  padding: 32px;
  background-color: white;
  border-radius: 8px;
  box-shadow:
    3px 3px 5px var(--color-neutral-1),
    -3px 3px 5px var(--color-neutral-1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
}

form label {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

form label img {
  width: 0.5rem;
  margin-top: 0.2rem;
}

form input,
form select {
  width: 100%;
  outline: none;
  background-color: white;
  border: 1px solid var(--color-text-1);
  border-radius: 2px;
}

form input:focus:valid {
  border: 1px solid var(--color-brand-1);
  border-radius: 2px;
}

form input:focus:invalid {
  border: 1px solid var(--color-brand-2);
  border-radius: 2px;
}

form input + img {
  width: 1rem;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

form .error-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

form .error-container img {
  width: 0.8rem;
  margin-top: 0.15rem;
}

form .error-container p {
  font-size: 0.8rem;
  color: var(--color-brand-2);
}

form .title {
  font-size: 1.3rem;
  text-align: center;
}

form .email {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  position: relative;
}

form .country {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

form .country select {
  width: 100%;
  padding: 0.2rem;
}

form .zip {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  position: relative;
}

form .password {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

form .password input + img {
  top: 33px;
  bottom: 0;
}

form .password .input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

form .password .requirement-container {
  width: 100%;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

form .password .requirement-container img {
  width: 0.8rem;
}

form .password .requirement-container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

form .confirm-password {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  position: relative;
}

form .submit {
  padding: 4px 12px;
  background-color: var(--color-neutral-1);
  border-radius: 8px;
}
